@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.recipe__header-container {
  @include header-container;
  position: relative;
}

.recipe__header {
  padding-left: $constant-02;
}

.recipe__categories-container {
  padding-left: $constant-02;
  position: static;
}

.recipe__category-button {
  all: unset;
  font-size: $constant-007;
  margin: $margin-0-025;
  background-color: $primary-color-01;
  color: $white;
  padding: $constant-025;

  &:hover {
    background-color: $secondary-color-01;
  }
}

.recipe__edit-button {
  @include button-01;
  background-color: $secondary-color-01;
}

.recipe__description-container {
  @include row-01;
  padding: $constant-01;

  & > * {
    @include column-01;
  }

  p {
    word-break: break-word;
    overflow: hidden;
  }
}

.recipe__img {
  max-height: $constant-vh-02;
  border-radius: $constant-01;
  max-width: 50%;
  object-fit: cover;
}

.recipe__body {
  padding: $padding-0-01;
}

.recipe__ingredients-container {
  border-right: $border-01;

  & ul {
    padding-left: $constant-01;
  }
}

.recipe__ingredients-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border-01;
  margin-bottom: $constant-01;
  flex-wrap: wrap;
  padding-bottom: $constant-005;

  & h2 {
    padding-right: $constant-01;
  }
}

.ingredients__multiplier {
  display: inline-flex;

  & > * {
    height: 100%;
    padding: $padding-0-025;
    margin: 0;
  }
}

.recipe__method {
  & ul {
    all: unset;
  }

  & li {
    all: unset;
    @include row-01;
  }

  & h3 {
    padding-right: $constant-01;
  }
}

@media only screen and (max-width: 600px) {
  .recipe__edit-button {
    top: auto;
    bottom: $constant-005;
  }

  .recipe__header {
    padding-bottom: $constant-01;
  }

  .recipe__description-container {
    @include flex-column;
    width: 100%;
  }

  .recipe__body {
    @include flex-column-01;
  }

  .recipe__ingredients-header {
    width: 100%;
  }

  .recipe__ingredients-container {
    border-right: 0;
    width: 100%;
  }

  .ingredients__multiplier {
    padding: $padding-01;
  }

  .recipe__method {
    width: 100%;
  }
}
