<div class="recipe-thumbnail__container">
  <div
    class="recipe-thumbnail col rounded"
    *ngFor="let recipe of allRecipesList"
    (click)="onClick(recipe.id)"
  >
    <h3>{{ recipe.title }}</h3>
    <div
      *ngIf="recipe.imgs && recipe.imgs?.length"
      class="recipe-thumbnail__img-container"
    >
      <img
        class="recipe-thumbnail__img rounded"
        src="{{ displayRecipeImg(recipe.imgs[0]) }}"
        alt="recipe image"
      />
    </div>
    <p
      *ngIf="!recipe.imgs || recipe.imgs?.length === 0"
      class="recipe-thumbnail__description"
    >
      {{ recipe.description }}
    </p>
  </div>
</div>
