@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

:host {
  display: inline-flex;
  width: 100%;

  & h3 {
    padding: $constant-005;
  }
}

.recipe-thumbnail__container {
  justify-content: space-around;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: $padding-01-0025;
}

.recipe-thumbnail {
  @include flex-column;
  border: $border-01;
  margin: $constant-025;
  height: inherit;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  min-width: $constant-15;
  max-width: 45%;
  padding: $padding-01-0025;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &__img {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    min-height: $constant-15;
  }

  &__img-container {
    padding: $constant-005;
    max-width: 100%;
  }

  &__description {
    margin: $constant-005;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.empty-recipe-list {
  margin-top: 40%;
  color: $primary-color-01;
  font-size: large;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    @include button-01;
    color: $white;
    position: static;
    background-color: $primary-color-01_0_8;
    border-radius: $border-radius-01;
    &:hover {
      background-color: $primary-color-01;
    }
  }
}
