<nav class="h-100 sidebar d-flex flex-column p-3">
  <!-- <button>Logout/login</button>  ngIf ='isLoggedIn'-->
  <button
    class="sidebar__button"
    type="button"
    routerLink="/login"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/login-icon.svg" />
    Login
  </button>

  <button
    class="sidebar__button"
    type="button"
    routerLink="/recipe/1"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/add-recipe-icon.svg" />
    Add recipe
  </button>

  <button
    class="sidebar__button"
    type="button"
    (click)="categoriesVisibility = !categoriesVisibility"
    routerLink="/recipes"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/recipes-icon.svg" />
    Recipes
  </button>

  <div class="sidebar__categories" *ngIf="categoriesVisibility">
    <ul>
      <li *ngFor="let category of categoriesList">
        <button class="sidebar__categories__button">{{ category }}</button>
      </li>
    </ul>
  </div>
  <div class="sidebar__button">
    <img class="sidebar__icon" src="./../../assets/search-icon.svg" />
    <input class="sidebar__searchbar" type="text" placeholder="Search.." />
  </div>
</nav>

<div class="test"></div>
