<nav class="h-100 sidebar d-flex flex-column">
  <button
    class="hamburger-menu__button"
    type="button"
    (click)="toggleMenuVisibility()"
    [ngClass]="{ background_fill: !menuVisibility }"
  >
    <img
      *ngIf="!menuVisibility"
      class="hamburger-menu-icon"
      src="./../../assets/double-arrow.svg"
    />

    <img
      *ngIf="menuVisibility"
      class="hamburger-menu-icon"
      src="./../../assets/hamburger-menu-icon.svg"
    />
  </button>
  <button
    *ngIf="!isLoggedIn"
    class="sidebar__button"
    type="button"
    routerLink="/login"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/login-icon.svg" />
    Login
  </button>
  <button
    *ngIf="isLoggedIn"
    class="sidebar__button"
    type="button"
    (click)="onLogout()"
  >
    <img class="sidebar__icon" src="./../../assets/login-icon.svg" />
    Logout
  </button>
  <button
    class="sidebar__button"
    type="button"
    routerLink="/edit"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/add-recipe-icon.svg" />
    Add recipe
  </button>

  <button
    class="sidebar__button"
    type="button"
    (click)="categoriesVisibility = !categoriesVisibility"
    routerLink="/recipes"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/recipes-icon.svg" />
    Recipes
  </button>
</nav>

<div class="test"></div>
