@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

:host {
  height: $constant-vh-01;
  z-index: 10;
}
:host(.menu_invisible) {
  position: fixed;
  left: -15rem;
}

nav {
  position: relative;
  padding: $constant-01;
  z-index: 2;
}

.hamburger-menu__button {
  all: unset;
  background-color: $white;
  position: absolute;
  top: $constant-005;
  right: $constant-r04;
  width: $constant-04;
  height: $constant-02;
  border-radius: $border-radius-02;
  border: $border-01;
  box-sizing: border-box;
  border-left: 0;
}

.hamburger-menu-icon {
  width: $constant-02;
  height: $constant-02;
  position: absolute;
  top: -0.1rem;
  left: $constant-015;
}
.sidebar {
  position: relative;
  background-color: $primary-color-01;
  height: 100%;
  top: 0;
  align-items: center;
  min-width: $constant-15;
}

.sidebar__button {
  all: unset;
  border: $border-02;
  border-radius: $border-radius-01;
  margin: $margin-005-0;
  color: $white;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: $padding-005-01;
  height: $constant-01;
  width: 70%;
  font-size: $constant-0125;
  background-color: $white_0_25;
  overflow: hidden;

  &:hover {
    background-color: $white_0_4;
  }
}

.active {
  background-color: $secondary-color-01;

  &:hover {
    background-color: $secondary-color-01;
  }
}

.sidebar__icon {
  margin-right: $constant-005;
  width: $constant-015;
  height: $constant-015;
  position: absolute;
  left: $constant-01;
}

.sidebar__categories {
  all: unset;
  border: $border-02;
  border-radius: $border-radius-00-11;
  margin: $margin-005-0;
  position: relative;
  cursor: pointer;
  top: $constant-r01;
  color: $white;
  display: flex;
  width: 60%;
  border-top: 0;
  background-color: $white_0_25;

  li {
    padding: $padding-025-0;
    width: 100%;

    &:hover {
      background-color: $white_0_4;
    }
  }

  &__button {
    all: unset;
    padding-left: $constant-01;
    font-size: $constant-01;
    width: 100%;
  }

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.sidebar__searchbar {
  all: unset;
  display: block;
  color: $white;
  border: none;
  padding-left: $constant-02;
  overflow: hidden;

  &::placeholder {
    color: $white_0_4;
  }
}
.menu_invisible {
  left: -20rem;
}
@media only screen and (max-width: 600px) {
  :host {
    position: absolute;
    width: $constant-vw-02;
  }
  :host(.menu_invisible) {
    left: $constant-vw-02r;
  }

  .background_fill {
    right: $constant-vw-03r;
    width: $constant-vw-03;
    height: $constant-vh-01;
    background-color: $white_0_6;
    border: 0;
  }

  nav {
    padding-top: 40%;
  }
}

@media only screen and (min-width: 1025px) {
  :host {
    position: static;
    width: $constant-15;
    max-width: 30vw;

    z-index: 10;
  }
  :host(.menu_invisible) {
    position: static;
  }

  nav {
    padding-top: 40%;
  }
  .hamburger-menu__button {
    display: none;
  }
}
