<nav class="h-100 sidebar d-flex flex-column p-3">
  <!-- <button>Logout/login</button>  ngIf ='isLoggedIn'-->
  <button
    *ngIf="!isLoggedIn"
    class="sidebar__button"
    type="button"
    routerLink="/login"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/login-icon.svg" />
    Login
  </button>
  <button
    *ngIf="isLoggedIn"
    class="sidebar__button"
    type="button"
    (click)="onLogout()"
  >
    <img class="sidebar__icon" src="./../../assets/login-icon.svg" />
    Logout
  </button>
  <button
    class="sidebar__button"
    type="button"
    routerLink="/edit"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/add-recipe-icon.svg" />
    Add recipe
  </button>

  <button
    class="sidebar__button"
    type="button"
    (click)="categoriesVisibility = !categoriesVisibility"
    routerLink="/recipes"
    routerLinkActive="active"
  >
    <img class="sidebar__icon" src="./../../assets/recipes-icon.svg" />
    Recipes
  </button>
</nav>

<div class="test"></div>
