@import "../scss/variables.scss";

:host {
  height: 100vh;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.testo {
  height: 100rem;
}

.content-container {
  width: 100%;
  border: 2px solid $primary-color-01;
  margin: 1rem;
}

.app-body {
  width: 100%;
}
