@import "../scss/variables.scss";

:host {
  height: $fill-height-100;
  overflow: scroll;
  position: relative;
}

.content-container {
  width: 100%;
  border: $border-01;
  margin: $constant-01;
  overflow: scroll;
}

.app-body {
  width: 100%;
  overflow: hidden;
  height: $fill-height-100;
  position: relative;
}
