@import "./variables.scss";

@mixin fill {
  width: 100%;
  height: 100%;
}

@mixin error {
  border: $border-01;
  background-color: $primary-color-01_0_2;
}
@mixin header-container {
  width: 100%;
  border-bottom: 2px solid $primary-color-01;
  margin: 1rem 0;
  padding: 0.5rem 0;
  position: relative;
}

@mixin button-01 {
  @include button-02;
  position: absolute;
  top: 0;
  right: 1rem;
}

@mixin button-02 {
  all: unset;
  padding: 0.25rem 1rem;
  color: $white;
  cursor: pointer;
  text-align: center;
}

@mixin column-01 {
  padding: 0.5rem;
  min-width: 45%;
  max-width: 100%;
}

@mixin row-01 {
  display: inline-flex;
  width: 100%;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin container-01 {
  @include flex-column;
  padding: $constant-01;
  border-right: $border-01;
  align-items: stretch;
}

@mixin flex-column-01 {
  @include flex-column;
  width: 100%;
  margin-left: 0;
  padding: 0;
}
