$primary-color-01: #994444;
//#ffbb95
$secondary-color-01: #2cada4be;
$secondary-color-02: #72c7c1b0;
$secondary-color-03: #2cada4;
//#c0cfe6 #97af8f
$white: white;
$white_0_25: rgba(255, 255, 255, 0.25);
$white_0_4: rgba(255, 255, 255, 0.4);

$border-01: 2px solid $primary-color-01;
